body {
    font-family: 'Baloo Bhai', cursive;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;

    /* height: 100px; */
    /* background-color:#fff; */
}

    /* Navigation Bar */

/* .header{
    background-color: rgb(254, 135, 1);
}  */

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: -16px;
    top: -49px;
}

.left img {
    width: 155px;
    /* filter: invert(100%); */
}

.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}

.mid {
    display: block;
    width: 60%;
    margin: 0px auto;
    /* border: 2px solid green; */
}

/* .right {
    display: inline-block;
    /* border: 2px solid red; */
/*	position: absolute;
    left: -16px;
    top: -49px;
}
.right img {
    width: 155px;
    /* filter: invert(100%); */
/*}

.right div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
} */

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: #fe9a02;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(254, 135, 1)
}

/* Button part */

.btn1 {
    font-family: 'Baloo Bhai', cursive;
    margin: 10px 17px;
    background-color: white;
    color: #fe9a02;
    padding: 3px 14px;
    border: 3px solid rgb(254, 135, 1);
    border-radius: 42px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.btn1:hover {
    color: white;
    background-color: #fe9a02;
}

.bg img{
    position: absolute;
    width: 650px;
    height: 810px;
    left: -220px;
    top: -2px;
}



.bg{
    position: absolute;
    width: 647px;
    height: 1178px;
    left: 1100px;
    top: 0px;
       }
.textandbutton{
    color: #fe9a02;
    padding: 175px 10px;
    margin: 42px 57px;
}